body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}
@media (max-width: 600px) {
    .calculator {
        width: 80%; 
        font-size: 16px; 
    }

    #display {
        font-size: 18px; 
    }

    .buttons {
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 5px; 
    }
}